#dayNavigator {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 15px;
}

.dayHeading {
    color: darksalmon;
    font-family: Georgia;
    font-size: 3rem;
    margin-top: 12px;
    margin-bottom: 12px;
}

.dailyPhoto {
    width: 300px;
    height: 440px;
    display: none;
    margin: auto;
    border: 15px solid darksalmon;
}

.dailyPhoto.active {
    display: block;
}